[submodule "unpack/downloader"]
	path = unpack/downloader
	url = https://github.com/gf-data-tools/gf-resource-downloader
  ignore = dirty
[submodule "unpack/gf-data-us"]
	path = unpack/gf-data-us
	url = https://github.com/1ekc/gf-data-rus
  ignore = dirty